    body {
      background-color: red;
      overflow: hidden;
    }
    
    div, footer{
      box-sizing: border-box;
    }
    #container {
      font-family: Verdana;
      height: 100%;
      overflow: hidden;
      background-color: pink;
    }
    
    #actors ul {
      margin: 0;
      padding: 0;
    }
    #actors ul li{
      width: 40px;
      height: 40px;
      margin: 2px;
      display: inline-block;
      list-style: none;
    }

    #light-box {
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      display: none;
    }

    #light-box .message {
      display: none;
      
      font-size: 30px;
      text-align: center;

      background: #222;

      color: white;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -100px 0 0 -150px;

      border-radius: 6px;
      -webkit-box-shadow: 0 3px 25px 6px rgba(0,0,0,0.75);
      -moz-box-shadow: 0 3px 25px 6px rgba(0,0,0,0.75);
      box-shadow: 0 3px 25px 6px rgba(0,0,0,0.75);

      padding: 20px;

      width: 300px;

    }

    #light-box .message a {
      margin-top: 20px;
      font-size: 20px;
      padding: 8px 14px 9px;
      font-weight: bold;
      line-height: 1;
      text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
      background-color: #A9014B;
      display: inline-block;
      padding: 5px 10px 6px;
      position: relative;
      color: #fff;
      text-decoration: none;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
      -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
      text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
      border-bottom: 1px solid rgba(0,0,0,0.25);
      cursor: pointer;

    }

    #light-box .message a:hover {
      background-color: #630030;
    }
    #light-box .message a:active {
      top: 1px;
    }
    
    #light-box .spinner {
      margin-top: 10px;
    }
    
    #light-box #connecting-problem .spinner {
      display: none;
    }
    
    .column{

      position: absolute;
      width: 50%;
/*      height: 100%;*/
      top: 0;
      bottom: 0;
      padding: 20px;
      height: 100%;
overflow: auto;
    }
    
    #left-column {
      left: 0;
      color: white;
      background-color: #222;
    }
    
    #right-column {
      background-color: white;
      right: 0;
    }
    
    #scene {
      font-size: 20px;
/*      text-transform: uppercase;*/
font-family: "Ubuntu Mono", sans-serif;
word-wrap: break-word;

    }
    
    #scene span {
/*      float: left;*/

    }
    
    footer {
      position: absolute;
      bottom: 10px;
      left: 0px;
      font-size: 12px;
      text-align: right;
      padding: 10px 20px 10px 5px;

      width: 100%;
      
    }
    
    footer p{
      margin-bottom: 5px;
    }
    
    footer a{
      font-weight: bold;
      color: white;
    }
    
    header h1{
      font-family: Monofett;
      font-size: 60px
    }
    
    header p{
      margin: 10px 0;
      font-size: 16px
    }